@import url("search.css");
@import url("highlight.css");
blockquote {
  background: rgba(255,255,255,0.3);
  border-left-color: rgba(128,128,128,0.3);
  font-size: 14px;
}
.site_counter {
  text-align: center;
  margin-top: 10px;
  color: #999;
}
.site_counter .theme-by {
  margin-left: 50px;
}
.meta-devider {
  margin: 0 0.5em;
}
.with-love {
  margin: 0 5px;
}
.post-meta-group {
  margin-left: 20px;
}
code {
  background: #c4f1ff;
  color: #5183ff;
}
.blog-post img {
  box-shadow: 10px 10px 15px #858585;
  margin: 20px 0 30px 0;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #bbb;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,255,0,0.4);
}
